body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f5;
  color: #333;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Impact", sans-serif;
  font-size: 40px;
}
.title-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.info-container {
  max-width: 600px;
  margin: 40px auto;
  margin-bottom: 80px;
  text-align: left;
  font-size: 14px;
  border-width: 3px;
  border-style: solid;
  border-image: repeating-linear-gradient(
    45deg,
    black,
    black 8px,
    yellow 8px,
    yellow 16px
  ) 1;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  color: #333;
}
.toc-container {
  max-width: 600px;
  margin: 0px auto;
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  background-color: #fff8dc;
  color: #333;
}
.toc-link {
  cursor: pointer;
  color: #007acc;
  text-decoration: none;
}
.department-title {
  font-family: "Impact", sans-serif;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 5px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0;
  flex: 1;
}
.job-card {
  background-color: #fffdfa;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 4px 4px 0px #b0b1ba;
  margin: 10px;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  transition: transform 0.2s;
  cursor: pointer;
  position: relative;
  color: #333;
}
.job-card:hover {
  transform: translateY(-6px);
}
.job-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.job-link {
  font-weight: bold;
  color: #007acc;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.clipboard-success {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #4bb543;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  font-size: 12px;
  white-space: nowrap;
}
pre {
  white-space: normal;
  visibility: hidden;
  display: none;
}
/* Light/Dark Mode Switch */
.theme-switch {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
.theme-switch label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f5;
  border: 2px solid #333;
  border-radius: 15px;
  width: 60px;
  height: 30px;
  position: relative;
  transition: background-color 0.2s;
}
.theme-switch input {
  display: none;
}
.theme-switch label::after {
  content: "🌞";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 18px;
  transition: transform 0.2s, background-color 0.2s;
}
.theme-switch input:checked + label {
  background-color: #007acc;
}
.theme-switch input:checked + label::after {
  content: "🌜";
  transform: translateX(30px);
  background-color: #333;
  color: #fff;
}
/* Dark Mode Styling */
body.dark-mode {
  background-color: #333;
  color: #f0f0f5;
}
body.dark-mode .info-container,
body.dark-mode .toc-container,
body.dark-mode .job-card {
  background-color: #444;
  color: #eee;
  border-color: #aaa;
}
/* Footer styling */
footer {
  margin-top: 60px;
  width: 100%;
  background-color: #007acc;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
}
footer a,
footer a:visited {
  color: white;
  text-decoration: none;
}
/* Scroll to Top Button */
#scrollToTopButton {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #007acc;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}
/* Hover effect */
#scrollToTopButton:hover {
  background-color: #005f99;
}

/* top */

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 0 5%;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #000;
  background-color: #e0e0e0;
  padding: 20px;
  box-shadow: 5px 5px #888888;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
  max-width: 400px;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  overflow: hidden;
}


.list-item:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px #555555;
}

img {
  /* max-width: auto; */
  width: auto;
  height: 70px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin: 10px 0 0;
}
